In [38]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder , OrdinalEncoder

In [56]:
df = pd.read_csv("breast-cancer.csv")
d = {"A" : ["a","b","c"],
     "B" : ["Red","Bleu","Pink"]
    }
df_2 = pd.DataFrame(d)
ordinal_encoder = OrdinalEncoder(categories=[["a", "c", "b"]])
df_2["A"] = ordinal_encoder.fit_transform(df_2[["A"]])
print(df_2["A"])

0    0.0
1    2.0
2    1.0
Name: A, dtype: float64

In [58]:
df_2

     A     B
0  0.0   Red
1  2.0  Bleu
2  1.0  Pink

In [64]:
df_cp1 = pd.DataFrame(d)
df_cp1["A"] = df_2["A"]
df_cp1

     A     B
0  0.0   Red
1  2.0  Bleu
2  1.0  Pink

In [68]:
#one_hot Encodage
pd.get_dummies(df_cp1)

     A  B_Bleu  B_Pink  B_Red
0  0.0   False   False   True
1  2.0    True   False  False
2  1.0   False    True  False